extends layout

block content
  img(src="http://c4.staticflickr.com/4/3611/3295233526_3e9014af88_m.jpg")
  form(action='/login', method='post')
    div
      label Email:
      input(type='text', name='email')
      div
        label Password:
        input(type='password', name='password')
      div
        input(type='submit', value='Log In')
  div
    br
    form(action='/user/request', method='post')
      div
        div
          label id:
          input(type='text', name='id')
        div
          input(type='submit', value='request friend')
    br
    form(action='/user/accept', method='post')
      div
        div
          label id:
          input(type='text', name='id')
        div
          input(type='submit', value='accept friend')
  